$svg-font: 'sfi';

@font-face {
	font-family: $svg-font;
	src: url("../static/fonts/SvgFont/sfi.eot?7260da8c04c9326551c11848ab60cef4?#iefix") format("embedded-opentype"),
url("../static/fonts/SvgFont/sfi.woff2?7260da8c04c9326551c11848ab60cef4") format("woff2"),
url("../static/fonts/SvgFont/sfi.woff?7260da8c04c9326551c11848ab60cef4") format("woff");
}

.sfi {
  $this: &;
	display: inline-block;
	line-height: 1;
	font-family: 'sfi';
	font-style: normal;
	font-weight: normal !important;
	vertical-align: top;
}

.sfi-logo:before {
	content: "\f101";
}


